@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #052e2b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
